@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&subset=cyrillic');

html
{
	position: relative;

	min-height: 100%;
}

body
{
	font-family: 'Roboto', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 300;

	padding-bottom: 3.375rem;

	color: #f6f5f9;
	background: #362964;
	background: linear-gradient(180deg, #362964 0%, #291b54 100%);
}

*
{
	outline: none;
}

/**
 *  Контейнеры.
 */
.container-wrapper
{
	padding: 2.5rem 0;
}

.container-wrapper-header
{
	padding: 1.875rem 0;

	background: #25184c;
	background: url(/resources/img/bg-code.png) center center no-repeat, #25184c;
	background-size: cover;
}

.container-wrapper-header-projects
{
	background: #25184c;
	background: url(/resources/img/bg-techs.png) center center no-repeat, #25184c;
	background-size: auto;
}

.container-wrapper-about
{
	background: #33275e;
	background: linear-gradient(170deg, #33275e 53%, #362964 53%);
}

.container-wrapper-skills
{
	padding-bottom: 1.5625rem;

	background: #f6f5f9;
	background: url(/resources/img/bg-lines.png) center center no-repeat,
	#f6f5f9;
}

.container-wrapper-skills-more
{
	padding: 1.5625rem 0;

	background: #efedf3;
}

#portfolio
{
	background: #362964;
	background: url(/resources/img/bg-techs.png) center top, #362964;
}

.container-wrapper-portfolio
{
	background: rgba(54, 41, 100, .4);
}

.container-wrapper-portfolio-more
{
	background: #362964;
	background: linear-gradient(180deg, rgba(54, 41, 100, .4) 75%, #362964 100%);
}

.container-wrapper-whyiam
{
	background: #33275e;
	background: linear-gradient(180deg, rgba(54, 41, 100, 0) 40%, #33275e 40%, #291b54 100%),
	linear-gradient(175deg, #362964 27%, #33275e 27%);
}

.container-wrapper-feedback
{
	background: #291b54;
	background: url(/resources/img/bg-map.png) center center no-repeat, #291b54;
}

.container-wrapper-search
{
	padding: 2.5rem 0;

	background: #403174;
}

.container-wrapper-footer
{
	padding: .9375rem 0;

	background: #25184c;
}

.container-author
{
	padding-top: 3.125rem;
	padding-bottom: 3.125rem;
}

.container-card
{
	padding-top: 2.5rem;
}


/**
 *  Заголовки.
 */
h1,
h2,
h3,
h4
{
	font-family: inherit;
	font-weight: 400;

	color: #f8f6ff;
}

h2,
h3,
h4
{
	text-transform: uppercase;
}

h2
{
	font-size: 1.25rem;

	margin-bottom: 1.2rem;
}

h3
{
	font-size: 1.1rem;
}

h4
{
	font-size: 1rem;
}

.inverse
{
	color: #2158f4;
}


/**
 *  Текст.
 */
p,
ul,
ol
{
	font-size: 15px;
    line-height: 1.55;

	margin-top: 0;
	margin-bottom: 1rem;

	color: #7e71a5;
}

b,
strong
{
	font-family: inherit;
	font-weight: 500;
}

i
{
	font-family: inherit;
	font-style: italic;
}

u
{
	white-space: nowrap;
	text-decoration: none;

	border-bottom: 1px solid;
}

.tip
{
	font-weight: 400;

	margin-top: 2rem;

	text-align: center;
}

.overflow
{
	overflow: hidden;

	white-space: nowrap;
	text-overflow: ellipsis;
}

.help
{
	margin: 0;
	margin-top: .9375rem;
}

.help u
{
	cursor: pointer;

	color: #9a8fc1;
}

.help u:hover
{
	opacity: .75;
}


/**
 *  Списки.
 */
.list
{
	line-height: 1;

	margin: 0;
	padding: 0;

	list-style: none;
}

.list-inline > li
{
	display: inline-block;
}

nav .list-inline > li
{
	display: block;
}


/**
 *  Ссылки.
 */
a
{
	text-decoration: none;

	color: #7e71a5;
}

a:focus,
a:hover
{
	text-decoration: none;
}

a:focus
{
	color: inherit;
}

a:hover
{
	color: #f8f6ff;
}

a.underline,
.project-content a,
.history a[href*='/projects'],
.theses a[href*='/projects'],
.project .project-body a
{
	white-space: nowrap;

	color: #f8f6ff;
	border-bottom: 1px solid;
}

a.underline:hover,
.project-content a:hover,
.history a[href*='/projects']:hover,
.theses a[href*='/projects']:hover,
.project .project-body a:hover
{
	opacity: .75;
}


/**
 *  Изображения.
 */
.image
{
	display: block;
}

.image > img
{
	width: 100%;
	height: 100%;
}


/**
 *  Кнопки.
 */
.button
{
	font-family: inherit;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.25;

	display: block;

	width: 100%;
	height: 46px;
	padding: .75rem 1.25rem;

	cursor: pointer;
	user-select: none;
	transition: opacity .15s ease-in-out,
	box-shadow .15s ease-in-out;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;

	opacity: 1;
	color: #cabff3;
	border: none;
	border: 1px solid #514288;
	border-radius: .25rem;
	outline: none;
	background: none;
}

.button:focus
{
	color: #cabff3;
}

.button-primary
{
	color: #f5f7fe;
	border: 1px solid #2158f4;
	background: #2158f4;
}

.button-primary:focus
{
	color: #f5f7fe;
}

.button-primary:hover
{
	box-shadow: 0 0 1.5625rem 0 rgba(33, 88, 244, .35);
}

.button-inverse,
.fixed .button-default
{
	color: #2158f4;
	border: 1px solid #2158f4;
	background: none;
}

.button-inverse:focus,
.fixed .button-default:focus
{
	color: #2158f4;
}

.button-block
{
	display: block;

	width: 100%;
}

.button-menu
{
	width: 60px;
	height: 46px;

	border-color: rgba(245, 247, 254, .15);
}

.fixed .button-menu
{
	border-color: #2158f4;
	background: #2158f4;
}

.button:focus,
.button:hover
{
	text-decoration: none;

	outline: none;
}

.button:hover
{
	transition: opacity .15s ease-in-out,
	box-shadow .15s ease-in-out;

	opacity: .75;
}

.button:disabled
{
	cursor: not-allowed;

	opacity: .3;
}


/**
 *  Формы.
 */
.form-control
{
	font-family: inherit;
	font-size: .875rem;
	font-weight: 300;
	line-height: 1.5;

	display: block;

	width: 100%;
	height: 46px;
	padding: .65rem 1rem;

	color: #f8f6ff;
	border: 1px solid #4f3d85;
	border-radius: .2rem;
	outline: 0;
	background: #3d2e6f;
	box-shadow: none;
}

textarea
{
	height: auto;
	min-height: 175px;
}

.form-control:focus
{
	opacity: .9;
	border-color: #5d4a96;
	outline: 0;
}

/* Заголовок */
label
{
	font-size: 1rem;
	font-weight: 400;

	display: block;

	margin-bottom: .75rem;

	color: #f8f6ff;
}

/* Убираем тени внутри формы в Safari */
input:not([type=checkbox]):not([type=radio]),
textarea,
select
{
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
}

/* Цвет плейсхолдера внутри форм под разные браузеры */
.form-control::-moz-placeholder
{
	opacity: 1;
	color: #594990;
}

.form-control:-ms-input-placeholder
{
	color: #594990;
}

.form-control::-webkit-input-placeholder
{
	color: #594990;
}

/* Группировка форм */
.form-group
{
	margin-bottom: 1.5rem;
}


/**
 *  Алерты.
 */
.alert
{
	font-size: .875rem;

	position: relative;

	padding: .625rem .9375rem;

	color: #7f879a;
	border-radius: 3px;
	background: #f6f5f9;
}

.alert-input::before
{
	position: absolute;
	bottom: -8px;
	left: 10%;

	width: 0;
	height: 0;
	margin-left: -8px;

	content: '';

	border-width: 8px 8px 0;
	border-style: solid;
	border-color: transparent;
	border-top-color: #f6f5f9;
}

.alert-error
{
	color: #ffebee;
	background: #f44336;
}

.alert-error::before
{
	border-top-color: #f44336;
}

.alert-success
{
	color: #e8f5e9;
	background: #4caf50;
}

.alert-success::before
{
	border-top-color: #4caf50;
}

.alert + .form-control
{
	margin-top: .9375rem;
}

.alert-input.alert-error + .form-control
{
	color: #ffebee;
	border-color: #f44336;
	background-color: rgba(244, 67, 54, .1);
}


/**
 *  Подсказки.
 */
.tooltip {
	font-family: inherit;
	font-size: .825rem;
	font-weight: inherit;
	line-height: 1.3;
}

.tooltip-inner {
	line-height: 1.5;
	max-width: 300px;
	padding: 6px 8px 7px;
	text-align: center;
	color: #FFF;
	border-radius: 0;
	background-color: rgba(0,0,0,.9);
}

.tooltip.bs-tooltip-top .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^='top'] .arrow::before {
	border-top-color: rgba(0,0,0,.9);
}

.tooltip.bs-tooltip-right .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^='right'] .arrow::before {
	border-right-color: rgba(0,0,0,.9);
}

.tooltip.bs-tooltip-bottom .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^='bottom'] .arrow::before {
	border-bottom-color: rgba(0,0,0,.9);
}

.tooltip.bs-tooltip-left .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^='left'] .arrow::before {
	border-left-color: rgba(0,0,0,.9);
}


/**
 *  Копирование содержимого.
 */
.clipboard
{
	position: relative;

	cursor: pointer;
}

.clipboard::before
{
	position: absolute;
	top: -.125rem;
	right: -.25rem;
	bottom: -.125rem;
	left: -.25rem;

	display: none;

	content: '';

	border: 4px solid rgba(248, 246, 255, .1);
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-radius: 3px;
}

.clipboard:hover
{
	background: rgba(248, 246, 255, .1);
}

.clipboard:hover::before
{
	display: block;
}

.clipboard-code
{
	font-family: 'Roboto', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
	font-size: .75rem;
	font-weight: 400;
	line-height: 1;

	position: absolute;
	z-index: 1;
	top: 1.25rem;
	right: 1.875rem;

	padding: .375rem .4375rem .5rem;

	cursor: pointer;
	transition: opacity .15s ease-in-out;

	opacity: 0;
	border-radius: 3px;
	background: rgb(33, 88, 244);
}

.pre-wrapper
{
	position: relative;
}

.pre-wrapper:hover .clipboard-code
{
	opacity: 1;
}

.pre-wrapper:hover .clipboard-code:hover
{
	opacity: .75;
}


/**
 *  Всплывающие окна.
 */
.popover
{
	font-family: inherit;
	font-size: .825rem;
	font-weight: inherit;
	line-height: 1.3;

	min-width: 250px;
	min-height: 60px;

	color: #c4b8e4;
	border-color: rgba(0, 0, 0, .1);
	border-radius: 4px;
	background-color: #403174;
}

.popover.bs-tether-element-attached-bottom::before,
.popover.popover-top::before
{
	border-top-color: rgba(0, 0, 0, .2);
}

.popover.bs-tether-element-attached-bottom::after,
.popover.popover-top::after
{
	border-top-color: #403174;
}


/**
 *  Другие элементы.
 */
.wall
{
	padding: 2.5rem;

	border-radius: 4px;
	background-color: #362964;
}

.wall-sm
{
	padding: 1.25rem;
}


/**
 *  Скроллбар.
 */
.scrollbar
{
	position: relative;
}


/**
 *  Perfect-Scrollbar рестайлинг.
 */
.ps > .ps__scrollbar-y-rail
{
	z-index: 100;
	right: 0;

	width: 6px;
	margin: 0;

	border-radius: 6px;
}

.ps > .ps__scrollbar-x-rail
{
	z-index: 100;
	bottom: 0;

	height: 6px;
	margin: 0;

	border-radius: 6px;
}

.ps.ps--active-y > .ps__scrollbar-y-rail,
.ps.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail,
.ps:hover > .ps__scrollbar-y-rail:hover,
.ps:hover.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail,
.ps.ps--active-x > .ps__scrollbar-x-rail,
.ps.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail,
.ps:hover > .ps__scrollbar-x-rail:hover,
.ps:hover.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail
{
	background-color: rgba(0, 0, 0, .15);
}

.ps.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y,
.ps.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail > .ps__scrollbar-x
{
	background-color: none;
}

.ps.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y,
.ps:hover.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y,
.ps:hover > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y,
.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y,
.ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y,
.ps > .ps__scrollbar-y-rail:active > .ps__scrollbar-y,
.ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y,
.ps > .ps__scrollbar-y-rail:active > .ps__scrollbar-y
{
	right: 0;

	width: 6px;

	border-radius: 6px;
	background-color: #2158f4;
}

.ps.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail > .ps__scrollbar-x,
.ps:hover.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail > .ps__scrollbar-x,
.ps:hover > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x,
.ps > .ps__scrollbar-x-rail > .ps__scrollbar-x,
.ps > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x,
.ps > .ps__scrollbar-x-rail:active > .ps__scrollbar-x,
.ps > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x,
.ps > .ps__scrollbar-x-rail:active > .ps__scrollbar-x
{
	bottom: 0;

	height: 6px;

	border-radius: 6px;
	background-color: #2158f4;
}

.ps > .ps__scrollbar-y-rail,
.ps > .ps__scrollbar-x-rail
{
	opacity: .6;
}


/**
 *  Вставки с кодом.
 */
pre
{
	position: relative;

	max-height: 400px;
	margin: 0;
	margin-top: 2.5rem;
	margin-bottom: 1rem;
	padding: 1.5rem !important;

	border-radius: 4px;
	background-color: #fff;
}

code
{
	display: inline-block !important;
	overflow: visible !important;

	padding: 0 !important;

	background-color: none;
}

/* Изменения отступов для скроллбара */
pre.ps > .ps__scrollbar-y-rail
{
	margin: 1.25rem .625rem 1.25rem 0;
}

pre.ps > .ps__scrollbar-x-rail
{
	margin: 0 1.25rem .625rem 1.25rem;
}


/**
 *  Шапка сайта.
 */
/* Навигация */
nav
{
	margin-top: .3125rem;
}

.dropdown ~ nav
{
	display: none;
}

.dropdown.active ~ nav
{
	display: block;
}

.dropdown .button
{
	display: inline-block;

	width: auto;
}

.dropdown .button + .button
{
	margin-left: 1rem;
}

nav li > a,
nav li > span
{
	font-weight: 500;

	display: block;

	padding: .875rem;

	color: #7e71a5;
}

.fixed nav li > a,
.fixed nav li > span
{
	padding: .875rem .6rem;
}

nav li.active > a,
nav li > a:hover,
nav li.active > span
{
	color: #f8f6ff;
}

.fixed nav li > a,
.fixed nav li > span
{
	margin-bottom: .3125rem;

	color: #a8b1cc;
	border-radius: 4px;
	background-color: #efedf3;
}

.fixed nav li.active > a,
.fixed nav li > a:hover,
.fixed nav li.active > span
{
	color: #f5f7fe;
	background-color: #2158f4;
}

/* Информация об авторе */
.author-image
{
	width: 100px;
	min-width: 100px;
	height: 100px;
}

.author-image-small
{
	width: 40px;
	min-width: 40px;
	height: 40px;
}

.author-image > img,
.author-image-small > img
{
	border-radius: 4px;
	background-color: #f8f6ff;
}

.author-image:hover,
.author-image-small:hover
{
	opacity: .75;
}

.list-inline > .navigation-author-image
{
	display: none;
}

.list-inline > .navigation-author-image a
{
	display: block;

	padding: 0;
}

.author-name
{
	font-size: 1.875rem;
	font-weight: 300;

	color: #f8f6ff;
}

.author-profession
{
	font-size: 1.125rem;

	margin: 0;
	margin-top: .5625rem;

	color: #7e71a5;
}

/* Статистика */
.list-stats
{
	font-size: .875rem;

	color: #f8f6ff;
}

.list-stats > li
{
	margin: .4375rem .78125rem;

	cursor: pointer;
}

.list-stats-item
{
	display: block;

	padding: .125rem 0;

	opacity: .75;
}

.list-stats > li:hover > .list-stats-item
{
	opacity: 1;
}

/* Фиксация навигации в верхней части окна */
.fixed
{
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	left: 0;

	box-shadow: 0 .125rem .25rem 0 rgba(21, 12, 49, .07);
}

.fixed .container-wrapper-header
{
	background: #f6f5f9;
}

.fixed-padding .container-wrapper-header
{
	padding: .625rem 0;
}

.fixed .container-author,
.fixed .container-stats,
.fixed .container-card,
.fixed .container-project
{
	display: none;
}


/**
 *  Обо мне & Образование.
 */
/* Обо мне */
.history-wrapper
{
	position: relative;
}

.history-wrapper::after
{
	position: absolute;
	bottom: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 80px;

	content: '';

	background: linear-gradient(0deg, #33275e 10%, rgba(51, 39, 94, 0) 100%);
}

.history
{
	position: relative;

	overflow: hidden;

	max-height: 400px;
	padding-right: 1.875rem;
}

.history-item:not(:first-child)
{
	margin-top: .25rem;
}

.history-item > h3
{
	font-size: 1rem;
	font-weight: 500;

	position: relative;

	width: 50px;
	min-width: 50px;
	margin: 0;
	margin-right: 1.5625rem;

	text-align: center;
}

.history-item > h3::after
{
	position: absolute;
	top: 0;
	left: 50%;

	display: block;

	width: 4px;
	height: calc(100% - 1.6875rem);
	margin-top: 1.6875rem;
	margin-left: -.125rem;

	content: '';

	border-radius: .25rem;
	background-color: #2158f4;
}

.history-item:last-child
{
	margin-bottom: 3.125rem;
}

.history-item:last-child > h3::after
{
	display: none;
}

.history-item > p
{
	font-size: .875rem;

	margin-bottom: 1.1rem;

	color: #c4b8e4;
}

/* Образование */
.education-item:not(:first-child)
{
	margin-top: 1.875rem;
}

.education-period
{
	font-size: .875rem;

	margin-bottom: .75rem;

	color: #7e71a5;
}

.education-university-logotype
{
	width: 65px;
	min-width: 65px;
	height: 65px;
	margin-right: 1.125rem;
	padding: .3125rem;

	border-radius: 4px;
	background-color: #f8f6ff;
}

.education-university-logotype > img
{
	border-radius: 4px;

	object-fit: scale-down;
}

.education-university-info
{
	padding-left: .3125rem;
}

.education-university-info > h3
{
	font-size: 1rem;
	font-weight: 500;
	line-height: 1;

	margin-bottom: .5rem;

	text-transform: none;
}

.education-university-facultet,
.education-university-profession
{
	font-size: .875rem;

	margin-bottom: .3125rem;

	color: #c4b8e4;
}

.education-university-city
{
	font-size: .875rem;

	margin-bottom: 1.125rem;

	color: #7e70a5;
}


/**
 *  Навыки.
 *
 *  NOTE: Все величины на карте навыков должны быть фиксированными, без `rem` (кроме шрифтов),
 *  так как сама карта построена с фиксированным позиционированием.
 */
/* Карта навыков */
.skills-info p
{
	color: #a5aab7;
}

/* Карта */
.skills-map
{
	margin-top: 188px;
	margin-bottom: 96px;
}

.skills-map-brain
{
	position: relative;

	width: 58px;
	height: 63px;
}

/* Основные стили */
.map-connector
{
	position: absolute;

	width: 12px;
	height: 12px;

	-webkit-transition: .15s;
			transition: .15s;
	-webkit-transition-delay: .85s;
			transition-delay: .85s;

	opacity: 0;
	border-radius: 50%;
}

.map-line::before
{
	position: absolute;

	display: block;

	height: 4px;

	content: '';
	-webkit-transition: .3s;
			transition: .3s;
	-webkit-transition-delay: .55s;
			transition-delay: .55s;
	-webkit-transform-origin: 100% 100%;
			transform-origin: 100% 100%;

	background-color: #aaa;
}

.map-line::after
{
	position: absolute;

	display: block;

	height: 4px;

	content: '';
	-webkit-transition: .3s;
			transition: .3s;
	-webkit-transition-delay: .25s;
			transition-delay: .25s;

	background-color: #aaa;
}

.map-tech
{
	position: absolute;

	width: 86px;
	height: 86px;

	-webkit-transition: .2s;
			transition: .2s;
	-webkit-transition-delay: 0s;
			transition-delay: 0s;

	opacity: 0;
	border: 3px solid #aaa;
	border-radius: 6px;
}

.map-tech-image
{
	height: 100%;
	padding: 10px;

	border-radius: 4px;
	background-color: #f8f6ff;
}

.map-tech-image > img
{
	object-fit: contain;
}

.map-tech-info
{
	position: absolute;
	z-index: 100;
	top: 0;
	left: 80px;

	display: block;

	width: 0;
	height: 80px;

	transition: width .15s ease-in-out;
	text-align: center;

	border-radius: 0 6px 6px 0;
	background-color: #aaa;
}

.map-tech:hover .map-tech-info,
.map-tech.active .map-tech-info
{
	width: 110px;

	transition: width .15s ease-in-out;
}

.map-tech-info > span
{
	display: block;

	margin: 1rem 0 .25rem;

	color: rgba(255, 255, 255, .5);
}

.map-tech-info > a
{
	font-size: .875rem;

	display: block;

	text-decoration: underline;

	color: rgba(255, 255, 255, .9);
	border: none;
}

.map-tech-info > a:hover
{
	opacity: .65;
}

.skills-map:hover .map-connector,
.skills-map.active .map-connector
{
	-webkit-transition-delay: 0s;
			transition-delay: 0s;

	opacity: 1;
}

.skills-map:hover .map-line::before,
.skills-map.active .map-line::before
{
	-webkit-transition-delay: .15s;
			transition-delay: .15s;
}

.skills-map:hover .map-line::after,
.skills-map.active .map-line::after
{
	-webkit-transition-delay: .45s;
			transition-delay: .45s;
}

.skills-map:hover .map-tech,
.skills-map.active .map-tech
{
	-webkit-transition-delay: .75s;
			transition-delay: .75s;

	opacity: 1;
}

.position-1
{
	top: -22px;
	left: 50%;

	margin-left: -.375rem;
}

.position-1 .map-line::before
{
	top: -3px;
	right: .5rem;
	left: 0;

	-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
}

.position-1 .map-line::after
{
	display: none;
}

.position-1 .map-tech
{
	bottom: 92px;
	left: -38px;
}

.skills-map:hover .position-1 .map-line::before,
.skills-map.active .position-1 .map-line::before
{
	left: -77px;
}

.position-2
{
	top: 0;
	left: -20px;
}

.position-2 .map-line::before
{
	top: 1px;
	right: 10px;
	left: 0;

	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
}

.position-2 .map-line::after
{
	top: -55px;
	right: 64px;
	left: -52px;
}

.position-2 .map-tech
{
	top: -96px;
	left: -218px;
}

.skills-map:hover .position-2 .map-line::before,
.skills-map.active .position-2 .map-line::before
{
	left: -78px;
}

.skills-map:hover .position-2 .map-line::after,
.skills-map.active .position-2 .map-line::after
{
	left: -132px;
}

.position-3
{
	top: 0;
	right: -20px;
}

.position-3 .map-line::before
{
	top: 1px;
	right: .5rem;
	left: 0;

	-webkit-transform: rotate(135deg);
			transform: rotate(135deg);
}

.position-3 .map-line::after
{
	top: -55px;
	right: -52px;
	left: 64px;
}

.position-3 .map-tech
{
	top: -96px;
	right: -218px;
}

.skills-map:hover .position-3 .map-line::before,
.skills-map.active .position-3 .map-line::before
{
	left: -81px;
}

.skills-map:hover .position-3 .map-line::after,
.skills-map.active .position-3 .map-line::after
{
	right: -132px;
}

.position-4
{
	bottom: 0;
	left: -20px;
}

.position-4 .map-line::before
{
	right: .5rem;
	bottom: 1px;
	left: 0;

	-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
}

.position-4 .map-line::after
{
	right: 64px;
	bottom: -55px;
	left: -52px;
}

.position-4 .map-tech
{
	bottom: -96px;
	left: -218px;
}

.skills-map:hover .position-4 .map-line::before,
.skills-map.active .position-4 .map-line::before
{
	left: -75px;
}

.skills-map:hover .position-4 .map-line::after,
.skills-map.active .position-4 .map-line::after
{
	left: -132px;
}

.position-5
{
	right: -20px;
	bottom: 0;
}

.position-5 .map-line::before
{
	right: 3px;
	bottom: .375rem;
	left: 0;

	-webkit-transform: rotate(-135deg);
			transform: rotate(-135deg);
}

.position-5 .map-line::after
{
	right: -52px;
	bottom: -55px;
	left: 64px;
}

.position-5 .map-tech
{
	right: -218px;
	bottom: -96px;
}

.skills-map:hover .position-5 .map-line::before,
.skills-map.active .position-5 .map-line::before
{
	left: -73px;
}

.skills-map:hover .position-5 .map-line::after,
.skills-map.active .position-5 .map-line::after
{
	right: -132px;
}

/* Другие навыки */
.skills-more-item
{
	position: relative;

	height: 100px;
	max-height: 100px;
	margin: .9375rem 0;
	padding: 1.1875rem;

	transition: border-color 50ms ease-in;

	border: 1px solid #dcd9e2;
	border-radius: 4px;
	background-color: #f6f5f9;
}

.skills-more-image
{
	width: 100%;
	height: 60px;
}

.skills-more-image::after
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 100%;

	content: '';
	transition: background 50ms ease-in;

	border-radius: 4px;
	background: none;
}

.skills-more-image > img
{
	object-fit: contain;
}

.skills-more-info
{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;

	display: none;

	width: 100%;
	height: 100%;

	text-align: center;
}

.skills-more-name
{
	font-weight: 500;

	margin: 1.4rem .5rem .4rem;

	color: #2158f4;
}

.skills-more-percents
{
	font-weight: 300;

	margin-left: .5rem;
}

.skills-more-info > a
{
	font-size: .875rem;

	color: #2158f4;
}

.skills-more-info > a:hover
{
	opacity: .65;
}

.skills-more-item:hover
{
	transition: border-color 50ms ease-out;

	border-color: #a1b8fa;
}

.skills-more-item:hover .skills-more-image::after
{
	transition: background 50ms ease-out;

	background: rgba(225, 233, 255, .95);
}

.skills-more-item:hover .skills-more-info
{
	display: block;
}

.skills-more-text
{
	height: 100%;
}

.skills-more-text > p
{
	font-size: 1.125rem;

	margin: 0;
	padding: 1.25rem;

	text-align: center;

	color: #a5aab7;
}


/**
 *  Поиск.
 */
.search
{
	margin-bottom: 2.5rem;
}

.search .search-form
{
	position: relative;
}

.search .reset-button
{
	font-size: .875rem;

	position: absolute;
	z-index: 1;
	right: 0;

	display: none;

	height: 46px;
	padding: .75rem 1rem;
}

.search .reset-button.active
{
	display: block;
}

.search .form-control
{
	padding-right: 5.875rem;
}


/**
 *  Блок "Портфолио" на главной.
 *  Страница поиска проектов.
 */
.portfolio > .group:not(:first-child)
{
	margin-top: 3rem;
}

.portfolio > .group a:hover
{
	opacity: .65;
}

.portfolio .group-header > .year
{
	font-weight: 500;

	color: #f8f6ff;
}

.portfolio .group-header > a.count
{
	margin-left: .625rem;

	white-space: nowrap;

	color: #7e71a5;
	border-bottom: 1px solid;
}

.portfolio .group-project
{
	line-height: 1;

	position: relative;

	margin-top: 1.875rem;
	padding: 1.25rem;
	padding-bottom: .75rem;

	border: 1px solid #4f3d85;
	border-radius: 4px;
	background-color: #403174;
}

.portfolio .group-project:hover
{
	border: 1px solid #624e9c;
}

/* Статус-бар с дополнительными индикаторами на карточке проекта */
.portfolio .group-project-bar
{
	position: absolute;
	top: 0;
	right: 0;

	margin-top: -.625rem;
	margin-right: -.625rem;
}

.portfolio .group-project-bar > .progress
{
	font-size: .75rem;

	padding: .25rem .4375rem;

	cursor: pointer;
	transition: opacity .15s ease-in-out;

	opacity: 1;
	color: #fefaf4;
	border-radius: 10px;
	background-color: #e39917;
	box-shadow: 0 0 .625rem 0 rgba(232, 185, 40, .4);
}

.portfolio .group-project-bar > .personal
{
	width: 20px;
	min-width: 20px;
	height: 20px;
	margin-left: .5rem;

	cursor: pointer;
	transition: opacity .15s ease-in-out;

	opacity: 1;
	border-radius: 50%;
	background-color: #35b712;
	box-shadow: 0 0 .625rem 0 rgba(47, 212, 67, .4);
}

.portfolio .group-project-bar > .progress:hover,
.portfolio .group-project-bar > .personal:hover
{
	opacity: .8;
}

/* Шапка карточки с проектом */
.portfolio .group-project-header > .type
{
	font-size: .875rem;

	color: #f4f0ff;
}

.portfolio .group-project-header > .date
{
	font-size: .875rem;

	margin-left: .625rem;

	color: #7e71a5;
}

/* Тело карточки с проектом */
.portfolio .group-project-body
{
	margin-top: 1rem;
	margin-bottom: .5rem;
}

.portfolio .group-project-image
{
	display: block;
	overflow: hidden;

	width: 50px;
	min-width: 50px;
	height: 50px;
	margin-right: 1rem;

	border-radius: 4px;
	background-color: #4f3d85;
}

.portfolio .group-project-body > a
{
	font-weight: 500;
	line-height: 1.4;

	color: #f8f6ff;
}

/* Вступление карточки с проектом */
.portfolio .group-project-description
{
	font-size: .875rem;
	line-height: 1.5;

	position: relative;

	overflow: hidden;

	max-height: 65px;
	margin: 0;
	margin-top: .875rem;
}

.portfolio .group-project-description::after
{
	position: absolute;
	bottom: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 75%;

	content: '';

	background: linear-gradient(0deg, #403174 10%, rgba(64, 49, 116, .05) 100%);
}

.portfolio .group-project-description:empty
{
	display: none;
}

/* Блок для перехода к списку всех проектов за год */
.portfolio .group-more
{
	font-size: 1.125rem;
	line-height: 1;

	position: relative;

	max-height: 122px;
	margin-top: 1.875rem;
	padding: 3.3125rem 1.25rem;

	text-align: center;
}

.portfolio .group-more > a
{
	color: #9484c5;
	border: none;
}

/* Кнопка для загрузки следующей страницы */
.portfolio-loader
{
	margin-top: 3.125rem;

	text-align: center;
}


/**
 *  Заглушка для списка проектов во время загрузки контента.
 */
.loading
{
	position: relative;
}

.loading::after
{
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	content: '';

	background: url(/resources/img/loading.gif) center center no-repeat;
}

.loading .group,
.loading form
{
	opacity: .2;
}


/**
 *  Блок "Почему я?" на главной странице.
 */
/* Тезисы */
.theses > .thesis
{
	position: relative;
}

.theses > .thesis:not(:first-child)
{
	margin-top: .5rem;
}

/* Номер тезиса */
.theses > .thesis > span
{
	font-size: 1rem;
	font-weight: 500;

	width: 40px;
	min-width: 40px;
	height: 40px;
	min-height: 40px;
	margin-right: 1.5625rem;
	padding: .5rem 0;

	text-align: center;

	color: #f5f7fe;
	border-radius: 50%;
	background-color: #2158f4;
}

.theses > .thesis > span::before
{
	position: absolute;
	top: 0;
	left: 1.125rem;

	display: block;

	width: 4px;
	height: calc(100% - 3rem);
	margin-top: 3rem;

	content: '';

	border-radius: 4px;
	background-color: #2158f4;
}

.theses > .thesis:last-child > span::before
{
	display: none;
}

/* Заголовок и текст тезиса */
.theses > .thesis > dl
{
	margin-bottom: .5rem;
}

.theses > .thesis > dl > dt
{
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;

	margin-top: .5rem;
	margin-bottom: .6rem;

	text-transform: none;
}

.theses > .thesis > dl > dd
{
	font-size: .875rem;
	line-height: 1.7;

	margin: 0;

	color: #c4b8e4;
}

/* Видео */
.video .clip
{
	border-radius: 4px;
	background-color: #f8f6ff;
}

.video .clip-wrapper
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 100%;
}

.video .clip-image,
.video .clip-info
{
	position: absolute;

	width: 100%;
	height: 100%;
}

.video .clip-image::after
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	content: '';
	transition: background .1s ease-in-out;

	background: rgba(33, 88, 244, .6);
}

.video .clip-image > img
{
	object-fit: cover;
}

.video .clip-info > p
{
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;

	margin: 1.25rem;

	text-align: center;

	color: #f8f6ff;
}

.video .clip-info > span
{
	display: none;

	width: 50px;
	min-width: 50px;
	height: 50px;

	cursor: pointer;
	transition: background .15s ease-in-out;

	border-radius: 50%;
	background: rgba(255, 255, 255, .15);
}

.video .clip-info > span:hover
{
	transition: background .15s ease-in-out;

	background: rgba(255, 255, 255, .3);
}

.video .clip-time
{
	font-size: .875rem;
	line-height: 1;

	position: absolute;
	right: .75rem;
	bottom: .625rem;

	display: block;

	color: #f8f6ff;
}

.video .clip-time:empty
{
	display: none;
}

/* Эффекты при наведении на видеоролик */
.video .clip:hover .clip-image::after
{
	transition: background .1s ease-in-out;

	background: rgba(33, 88, 244, .7);
}

.video .clip:hover .clip-info > p
{
	display: none;
}

.video .clip:hover .clip-info > span
{
	display: block;
}


/**
 *  Обратная связь & Контакты.
 */
/* Обратная связь */


/* Контакты */
/* Основные контактные данные */
.contacts .contacts-default-list
{
	margin-top: 1.5rem;

	color: #c4b8e4;
}

.contacts .contacts-default-list > li:not(:first-child)
{
	margin-top: 1rem;
}

/* Ссылки на социальные сети */
.contacts .contacts-social-list > li:not(:first-child)
{
	margin-left: 1rem;
}

.contacts .contacts-social-list > li > a
{
	display: block;

	width: 50px;
	min-width: 50px;
	height: 50px;

	transition: opacity .15s ease-in-out;

	opacity: 1;
	border-radius: 50%;
	background: #2158f4;
}

.contacts .contacts-social-list > li > a:hover
{
	transition: opacity .15s ease-in-out;

	opacity: .75;
}

/* Переопределения для шапки сайта */
.header-contacts .contacts-social-list > li:not(:first-child)
{
	margin-left: .875rem;
}

.header-contacts .contacts-social-list > li > a
{
	width: 44px;
	min-width: 44px;
	height: 44px;
}


/**
 *  Страница с поиском проектов.
 */
/* Подсказка при определённых поисковых запросах */
.search-info {
	margin-top: 2rem;
}

.search-info > .item {
	padding: 1.25rem;
	background: #2158f4;
	border-radius: 4px;
	box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.1);
	position: relative;
}

.search-info > .item::after {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.15);
    content: '?';
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-weight: 500;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.85);
    border-radius: 50%;
}

.search-info > .item > .image {
	width: 70px;
	min-width: 70px;
	height: 70px;
	border-radius: 3px;
	overflow: hidden;
	background: #ffffff;
	padding: 0.3125rem;
}

.search-info > .item > .image > img {
	object-fit: contain;
}

.search-info > .item > article {

}

.search-info > .item > article > h2 {
    margin: 0;
    text-transform: none;
    font-size: 1rem;
	line-height: 1.75;
	color: rgba(255, 255, 255, 0.95);
}

.search-info > .item > article > p {
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5;
    margin-top: 0.35rem;
}


/**
 *  Шапка страницы "Проекты".
 */
.container-card h1,
.container-project h1
{
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.4;

	color: #f8f6ff;
}

.container-card p,
.container-project p
{
	font-size: 1.125rem;
	line-height: 1.5;

	margin: 0;
	margin-top: .5625rem;

	color: #7e71a5;
}


/**
 *  Cтраница с информацией о проекте.
 */
/* Шапка страницы "Информация о проекте" */
.container-project
{
	padding-top: 3.125rem;
	padding-bottom: 3.125rem;
}

.container-project .project-image
{
	overflow: hidden;

	width: 100px;
	min-width: 100px;
	height: 100px;

	border-radius: 4px;
	background: #4f3d85;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
}

.icon-progress
{
	color: #e39917;
}

.icon-personal
{
	color: #35b712;
}

/* Контент */


/**
 *  Дополнительная информация о проекте сбоку.
 */
.project .project-header .type:hover
{
	opacity: .75;
}

.project .project-body
{
	margin-bottom: 1.5rem;
}

.project .project-body p,
.project .project-body ul,
.project .project-body ol
{
	color: #b9ace2;
}

.project .project-body .alt
{
	font-size: .875rem;
	font-style: italic;

	margin-bottom: 1.25rem;
	padding-right: 5%;
	padding-left: 5%;

	text-align: center;

	color: #7e71a5;
}

.project .project-body .embed-responsive,
.project .project-body img
{
	margin: 2.5rem auto .9375rem;
}

.project .project-body img
{
	display: block;

	width: auto;
	max-width: 100%;
	height: auto;

	border-radius: 4px;
	background: #25184c;
}

.project .project-body h2
{
	margin-bottom: 1rem;
}

.project .project-body h2 + h2
{
	margin-top: 3rem;
}

.project .project-body h3,
.project .project-body h4,
.project .project-body h5
{
	margin-top: 1.5rem;
	margin-bottom: .8rem;

	text-transform: none;
}

.project .project-side
{
	margin-bottom: 2rem;
	padding: 30px;

	border-radius: 4px;
	background: #3c2e6d;
}

.project .project-side > div:last-child
{
	margin-bottom: 0 !important;
}

.project .project-side h3
{
	font-size: 1rem;

	margin: 0;

	text-transform: none;
}

.project .project-side > .example,
.project .project-side > .techs,
.project .project-side > .files,
.project .project-side > .tags
{
	margin-bottom: 2rem;
}

.project .project-footer
{
	margin-top: 3rem;
}


/**
 *  Ссылка на пример и демо-доступ.
 */
.example p
{
	margin-bottom: .625rem;
}

.example-list > li
{
	margin-top: .625rem;
}

.example-list a
{
	line-height: 1.3;
}


/**
 *  Технологии.
 */
.techs-list > li
{
	margin-top: .625rem;
	margin-right: .625rem;
}

.techs-list > li > a
{
	font-size: .875rem;
	font-weight: 500;

	display: block;

	padding: .46875rem .625rem;

	color: rgba(255, 255, 255, .85);
	border-radius: 3px;
	background: #aaa;
}

.techs-list > li > a:hover
{
	opacity: .75;
}


/**
 *  Документы.
 */
.files-list
{
	font-size: .875rem;

	margin-top: .625rem;
}

.files-list > li:not(:first-child)
{
	margin-top: .9375rem;
}

.files-list > li > a
{
	line-height: 1.5;

	display: block;

	padding: .625rem .875rem;

	border: 1px solid #433575;
	border-radius: 4px;
}

.files-list > li > a:hover
{
	border-color: #5b4e8c;
}

.files-list > li > a:hover span
{
	opacity: .75;
}

.file
{
	font-size: .75rem;
	font-style: italic;
}

.file-doc
{
	color: #1976d2;
}

.file-ppt
{
	color: #ff6d00;
}

.file-xls
{
	color: #388e3c;
}

.file-pdf
{
	color: #ff5722;
}

.file-zip
{
	color: #ff9100;
}

.file-rar
{
	color: #9c27b0;
}


/**
 *  Метки.
 */
.tags-list > li
{
	margin-top: .625rem;
	margin-right: .625rem;
}

.tags-list > li > a
{
	font-size: .8125rem;

	display: block;

	padding: .375rem .5rem;

	white-space: nowrap;

	color: #f4f5fe;
	border-radius: 2px;
	background: #2158f4;
}

.tags-list > li > a:hover
{
	opacity: .75;
}


/**
 *  Поделиться.
 */
.share {
	text-align: center;
}

.share p
{
	font-size: .875rem;
}


/**
 *  Редизайн YandexShare.
 */
.ya-share2-redesign {
	text-align: center;
}

.ya-share2-redesign .ya-share2__container_size_m .ya-share2__item {
	margin-right: 10px;
}

.ya-share2-redesign .ya-share2__badge {
	padding: 7px;
	border-radius: 50%;
}

.ya-share2-redesign .ya-share2__icon:active {
	box-shadow: none;
}

.ya-share2-redesign .ya-share2__container_size_m .ya-share2__icon {
	height: 30px;
	width: 30px;
	background-size: 30px 30px;
}


/**
 *  Подвал сайта.
 */
footer
{
	position: absolute;
	bottom: 0;

	width: 100%;
}

footer p
{
	font-size: .875rem;

	margin: 0;

	text-align: center;

	color: #7e71a5;
}


/**
 *  Кнопка "Наверх".
 */
.scroll-to-top
{
	position: fixed;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;

	display: none;

	width: 100px;

	cursor: pointer;
	text-align: center;
	text-decoration: none;

	color: #000;
	background: rgba(0, 0, 0, 0);
}

.scroll-to-top > b
{
	position: absolute;
	bottom: 15px;

	display: block;

	width: 100%;
	min-height: 20px;

	opacity: .3;
	color: #8d79d2;
}

.scroll-to-top:hover
{
	background: rgba(138, 120, 202, .15);
}

.scroll-to-top:hover > b
{
	opacity: .75;
}

.scroll-to-top .icon-up::before
{
	top: -22px;

	margin-top: 0;
}